{% extends 'base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
    <div class="dashboard">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col">
                            <div class="card bg-dark text-light shadow" style="border: none !important;">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="py-2">Vouchers</h5>
                                    </div>
                                    <h6 class="d-flex justify-content-between">Today's <span class="">{{count}}</span></h6>
                                    <div class="voucher-table">
                                        <table class="table-hover shadow w-100">
                                            <tbody>
                                                {% for voucher in vouchers %}
                                                    <tr>
                                                        <td class="text-light" style='color:#777 !important'><small>{{voucher.name}}</small></td>
                                                        <td><small><a href=''style='color:#777 !important'>{{voucher.voucher_no}}</a></small></td>
                                                        <td></td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
